body {font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
    color: #212121;
}
:root {
    --text-color:#212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --secondary-text-color:#757575; 
    --icon-color-grey: #AFB1B8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

h1, h2, h3, p, ul { margin-top: 0;
    margin-bottom: 0;
}
ul {padding: 0;}

li, a, .logo-header,
.logo-footer,
.contact-link {
text-decoration: none;
}

nav { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.logo-header { padding-bottom: 25px;
    padding-top: 25px

}

.logo-header, .logo-footer {font-family:'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.icon-header { 
    fill: currentColor;
    margin-right: 10px;
}

.icon-header:hover {fill: var(--accent-color);
transition-timing-function: var(--transition-dur-and-func);}

.contact-link {display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-func);
}

.contact .item {margin-left: auto;}

.contact .item + .item {margin-left: 50px;}

.link a {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.logo-header,.logo-footer, .logo-header:hover, .logo-footer:hover, .link a:hover, .contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}

.accent {
    color: var(--text-color);
}

.current-page {color: var(--accent-color);
}
.current-page::after { content: " ";
position: absolute;
bottom: -4%;
left: 0;
width: 100%;
height: 4px;
background: var(--accent-color);
border-radius: 2px;
}
.not-current-page {color: var(--text-color);
}

.current-page, .not-current-page { display: block;
    padding-top: 30px;
    padding-bottom: 30px;
transition: color var(--transition-dur-and-func);}
a,
/* a:visited, */
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.current-page:hover, 
.not-current-page:hover,
.current-page:focus,
.not-current-page:focus {color: var(--accent-color);
    /* transition: var(--transition-dur-and-func); */
}

.hero { background-color: var(--background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_hero.jpg);
}

.team { background-color: var(--secondary-background-color);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-full-list  {
display: flex;
column-gap: 30px;
}  

.clients-list {
 width: 170px;
 height: 92px; 
    }

.client{display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--icon-color-grey);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.clients-list-icon { fill: currentColor;

}
.client:hover svg, .client:focus svg  {
    fill: var(--accent-color);
}

.client:hover, .client:focus { border: 1px solid #2196F3;
fill: var(--accent-color);
border-radius: 4px;}

.contacts-footer {
    color: #FFFFFF99 ;
}
.logo-footer { color:var(--accent-color);
}

.footer-container {display: flex;
align-items: baseline;}


.address-item:not(:last-child) {
    margin-bottom: 9px; 
}

.main-heading { margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    color:#ffffff;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    
}

.sub-heading, .section-heading {margin: 0;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.section-heading{margin-bottom: 50px;}

.uppercase-secondary-heading {margin: 0;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.secondary-heading {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.card-names {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.description { margin: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.position {color: var(--secondary-text-color);
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
}    
.type { color: var(--secondary-text-color);
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 4px;
}
 .button-hero {padding: 10px 32px 10px 32px;
}

 .button-hero, .button-modal, .submit-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.button-hero:hover,
.button-hero:focus,
.button-modal:hover,
.button-modal:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.styled { font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 25px;
    transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.styled:hover,
.styled:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.styled:active {background-color: var(--accent-color);
color: #ffffff;
}

ul {list-style-type: none;
}

footer { display: flex;
    background-color: var(--background-color);
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer span {color:#ffffff;
}

address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
    margin-right: 70px;
}

address > p { margin-bottom: 9px;}

.follow-us { font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-list {display: flex;
justify-content: center;
column-gap: 10px;
}

.social-link, .footer-social-link { display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-link {background-color: #ffffff;
}

.footer-social-link {background-color: rgba(255, 255, 255, 0.1);;}


.social-media-icon {fill: var(--icon-color-grey);
transition: fill var(--transition-dur-and-func);}

.footer-social-media-icon {
    fill: white;
    }

.social-link:hover,
.social-link:focus, 
.footer-social-link:hover,
.footer-social-link:focus {
    background: var(--accent-color);
}

.social-link:hover .social-media-icon,
.social-link:focus .social-media-icon {
    fill: #ffffff;
}

header {
    border-bottom: 1px solid #ECECEC;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {display: flex;
align-items: center;
}

.pecularities {
    padding-top: 94px;
 }

 .feature-list { 
    gap: 30px;
}

.icon-pecularities {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color:var(--secondary-background-color);
        border-radius: 4px;
        margin-bottom: 30px;
    }

.feauture-list .item {
    width: 270px;
}

.list-services, .clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services {margin-top: 50px;
    justify-content: center;
}

.services .item {width: 370px;
    }

.services .item + .item {
    margin-left: 30px;
}

.our-team { display:flex;
    justify-content: center;    
} 

.our-team .item +.item {
    margin-left: 30px;}

/* portfolio.html */
.sorting {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.sorting .sorting-button + .sorting-button {margin-left: 8px;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
    
.list { display: flex; 
    }

.link-menu { position: relative;
    margin-right: 50px;
}
.site-nav {
    margin-left: 93px;
} 
.contact {
    margin-left: auto;
}

.main-section {padding-bottom:94px;
padding-top: 94px;}
/* крайняя геометрия */
.link-menu:last-child {margin-right: 0px;}

/* card set */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards {display: flex;
}

.card {
    flex-basis: calc((100% - 60px) / 3);
}
.card-styled {display: block;
transition: box-shadow var(--transition-dur-and-func)
}
.list-img-wrapper {position: relative;
    overflow: hidden                   ;
}
.overlay {position:absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: #FFFFFF;
font-weight: 400;
font-size: 18px;
line-height: 1.55;
padding: 63px 24px;
background-color: rgba(33, 150, 243, 0.9);
overflow: auto;
transform: translateY(100%);
transition: transform 250ms linear;}

.card-styled:hover, .card-styled:focus {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-styled:hover .overlay,
.card-styled:focus .overlay {
    transform: translateY(0%);
}

.card-content {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.team-card-content { background-color: #FFFFFF;;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px;
}

/* Позіціонування елементів */
.services-example-image { position: relative;
}

.services-example {position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
}

 /* Backdrop */
.backdrop {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 10;
    background-color: rgba(47, 48, 58, 0.4);
    transition: opacity 500ms, visibility 500ms;
} 

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Modal window */

.modal { position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    min-width: 528px;
    min-height: 580px;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* transition: opacity 500ms; */
}

.modal-close-button { position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: border-color var(--transition-dur-and-func);

}

.modal-close-button:hover, 
.modal-close-button:focus{border-color: var(--accent-color);
}
 /* doesnt work */
.modal-close-icon {transition: fill var(--transition-dur-and-func);
 }
 
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    border-color: fill (--accent-color);
}

/* call back form */

.form-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
}

.call-back-form-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    color: #000000;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);

}

.comment-textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #000000;
    resize: none;
    transition: border-color var(--transition-dur-and-func);
}

.comment-textarea:focus {border-color: var(--accent-color);
outline: none;}

.comment-textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-desc {display: block;
size: 12px;
line-height: 1.16;
color: var(--secondary-text-color);}


.icon-modal-form {position: absolute;
display: block;
top: 50%;
left: 14px;
transform: translateY(-50%);
transition: fill var(--transition-dur-and-func);
}

.call-back-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.call-back-form-input:focus+.icon-modal-form {
    fill: var(--accent-color);
}

.modal-form-checkbox-wrapper {display: flex;
    align-items:center; }

.modal-form-own-checkbox {border: 1px solid var(--text-color);
border-radius: 2px;
cursor: pointer;
margin-right: 9px;
}

.modal-form-own-checkbox-icon {display: none;
    fill: #FFFFFF;
    padding: 3px;
    
}

.modal-form-checkbox:checked + .modal-form-own-checkbox { background-color: var(--accent-color);
    border-color: var(--accent-color); 
}

.modal-form-checkbox:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon { display: block;
}

.modal-form-checkbox:focus +.modal-form-own-checkbox {
   outline: 2px solid black;
}

.modal-form-checkbox { position: absolute;
appearance: none;}

.terms {color: var(--accent-color);
text-decoration: underline;}

.button-modal { display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding: 10px 52px 10px 52px;
    min-width: 200px;
    min-height: 50px;}

/* form in the footer */

.newsletter {margin-left: 93px;
}

.follow-us-footer {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-input {
    width: 358px;
    height: 50px;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
    outline:none;
}

.newsletter-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.submit-button { position: relative;
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 10px 62px 10px 28px;
    margin-left: 12px;
    margin-top: 0px;
}

.newsletter-form-icon { position: absolute;
    margin-left: 10px;
   fill: #FFFFFF;
}