body {font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
    color: #212121;
}
:root {
    --text-color:#212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --secondary-text-color:#757575; 
}

h1, h2, h3, p, ul { margin-top: 0;
    margin-bottom: 0;
}
ul {padding: 0;}

li, a, .logo-header,
.logo-footer,
.contact-link {
text-decoration: none;
}

nav { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.logo-header { padding-bottom: 25px;
    padding-top: 25px

}

.logo-header, .logo-footer {font-family:'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.contact-link { 
    margin-left: auto;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

.contact .item {margin-left: auto;}

.contact .item + .item {margin-left: 50px;}

.link a {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.link .logo-header,.logo-footer, .logo-header:hover, .logo-footer:hover, .link a:hover, .contact-link:hover {color: var(--accent-color);
}

.accent {
    color: var(--text-color);
}

.current-page {color: var(--accent-color);
}
.not-current-page {color: var(--text-color);
}

.current-page, .not-current-page, .list .contact-link { display: block;
    padding-top: 30px;
    padding-bottom: 30px;}
a,
/* a:visited, */
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.hero { background-color: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.team { background-color: var(--secondary-background-color);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.contacts-footer {
    color: #FFFFFF99 ;
}
.logo-footer { color:var(--accent-color);
}
/* margin-bottom: 20px;} */

.address-item:not(:last-child) {
    margin-bottom: 9px; 
}

.main-heading { margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    color:#ffffff;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    
}

.sub-heading, .section-heading {margin: 0;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.section-heading{margin-bottom: 50px;}

.uppercase-secondary-heading {margin: 0;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.secondary-heading {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.card-names {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    
}

.description { margin: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.position {color: var(--secondary-text-color);
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0;
}    
.type { color: var(--secondary-text-color);
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 4px;
}

 .button-hero {
    font-family: inherit;
    padding: 10px 32px 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;
    margin-top: 40px;
}

button:hover {background-color: var(--accent-color);
    color: #ffffff;
   
    cursor: pointer;
}

.styled { font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 25px;

}

.styled:hover { color: #ffffff;}
.styled:active {background-color: var(--accent-color);
color: #ffffff;
}

ul {list-style-type: none;
}

footer {background-color: var(--background-color);
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
   
}

footer span {color:#ffffff;
}

address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
}

address > p { margin-bottom: 9px;}

/* css module 3 index.html*/ 
header {
    border-bottom: 1px solid #ECECEC;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}
.container {
  /* background-color:tomato; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {display: flex;
align-items: center;
}

.pecularities {
    padding-top: 94px;
 }

 .feauture-list {gap: 30px;
}

.feauture-list .item {
    width: 270px;
}

.list-services {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services {margin-top: 50px;
    justify-content: center;
}

.services .item {width: 370px;
}

.services .item + .item {
    margin-left: 30px;
}

.our-team { display:flex;
    justify-content: center;    
} 

.our-team .item +.item {
    margin-left: 30px;}

/* portfolio.html */
.sorting {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.sorting .sorting-button + .sorting-button {margin-left: 8px;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
    
.list { display: flex; 
    }

.link-menu {
    margin-right: 50px;
}
.site-nav {
    margin-left: 93px;
} 
.contact {
    margin-left: auto;
}

.main-section {padding-bottom:94px;
padding-top: 94px;}
/* крайняя геометрия */
.link-menu:last-child {margin-right: 0px;}

/* card set */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards {display: flex;
}

.card {
    flex-basis: calc((100% - 60px) / 3);
}

.card-content {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.team-card-content { background-color: #FFFFFF;;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px;

}