body {font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
    color: #212121;
}
nav { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
header span {color: #212121;
}


.logo {font-family:'Raleway', sans-serif;
    color: #2196F3;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}


.contact-link {color: #757575;
    font-weight: 500;
    line-height: 1.1;

}

.link a {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.link a, .logo, .contact-link {text-decoration: none;
}

a {text-decoration: none;
}

.link .logo, .link a:hover, .contact-link:hover {color: #2196F3;
}

.logo {color: #2196F3;}

.current-page {color: #2196F3;
}
.not-current-page {color: #212121;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.hero { background-color: #2F303A;
}

.team { background-color: #F5F4FA;
}

.contacts-footer {
    color: #FFFFFF99 ;
}
.logo-footer { color:#ffffff;}


.main-heading {font-size: 44px;
    color:#ffffff;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.sub-heading {font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.uppercase-secondary-heading {font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.secondary-heading {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}
.card-names {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

li {
    list-style-type: none;
}
.description {color: #757575;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;}

.position {color: #757575;
    line-height: 1.18;
    letter-spacing: 0.03em;
}    
.type { color: #757575;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
button {font-family: inherit;
}
 .button-hero {font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
}
button:hover {background-color: #2196F3;
}

footer {background-color: #2F303A;
    color: #ffffff;
}

footer span {color:#ffffff;
}

address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
}