footer {
    display: block;
    // display: flex;
    background-color: var(--background-color);
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width:768px) {
                text-align: center;
        }
  
@media screen and (min-width:768px) {
    display: flex;
}
}

footer span {
    color: #ffffff;
}

address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
    // margin-bottom: 60px;


    @media screen and (min-width:768px) {
        margin-top: 20px;
        }

    @media screen and (min-width:1200px) {
        margin-right: 70px;
       }
}

address>p {
    margin-bottom: 9px;
}

.footer-container {
    // display: flex;
    // align-items: baseline;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 30px;
    }

@media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
    }

}

.footer-container-styled {
@media screen and (max-width: 768px) {
    margin-bottom: 60px;
    text-align: center;
}

.social-links-styled {
    @media screen and (max-width: 768px) {
    text-align: center;
}
}

.logo-footer {
    @extend %logo;
}

.contacts-footer {
    color: #ffffff99;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

}