.main-heading {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.sub-heading,
.section-heading {
    margin: 0;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.section-heading {
    margin-bottom: 50px;
}

.uppercase-secondary-heading {
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.secondary-heading {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.form-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
}