.hero {
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img_hero.jpg);
}

@media screen and (min-width: 480px) {
    .hero {
    background-image:
    urL(../images/potato.jpg)
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image:
            urL(../images/roasted.jpg)
    }
}

.button-hero {
    @extend %button;
    padding: 10px 32px 10px 32px;
    &:hover,
    &:focus {
            background-color: var(--accent-color);
            color: #ffffff;
    }
}
