.list-services {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services {
    margin-top: 50px;
    justify-content: center;
}

.services .item {
    width: 370px;
}

.services .item +.item {
    margin-left: 30px;
}

.services-example-image {
    position: relative;
}

.services-example {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
}