.team {
    background-color: var(--secondary-background-color);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team {
    display: flex;
    justify-content: center;
}

.our-team .item+.item {
    margin-left: 30px;
}

.position {
    color: var(--secondary-text-color);
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
}