// 0 - 767 px
@media screen and (max-width: 767px) {

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);

    &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

}

.mobile-menu__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
 
}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    fill: #212121;
    background: transparent;
    padding: 0;
    line-height: 0;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu-nav__link {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-dur-and-func);

&:hover,
&:focus { color: var(--accent-color);
}

}
.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-contacts__link__accent {
    margin-bottom: 32px;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.mobile-contacts__link {
    margin-bottom: 64px;
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
}


// .mobile-contacts {
//     padding-left: 40px;

// }


.mobile-social-list {display: flex;
  
}

.mobile-social-list__link {
    position: relative;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-color);

    &::after {
            content: " ";
            
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid rgba(33, 33, 33, 0.2);
        }
}
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}